<% @project.visible_journals_with_index.each do |journal| %>
<div id="change-<%= journal.id %>" class="<%= journal.css_classes %>">
  <div id="note-<%= journal.indice %>">
    <div class="contextual">
      <a href="#note-<%= journal.indice %>" class="journal-link">#<%= journal.indice %></a>
    </div>
    <h4 class="note-header">
      <%= avatar(journal.user) %>
      <%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %>
    </h4>

    <% if journal.details.any? %>
    <ul class="details">
      <%# Workaround for redmine_checklists. It uses @issue.project to check permission. %>
      <% @issue = Struct.new(:project).new(@project) %>
      <% details_to_strings(journal.visible_details).each do |string| %>
      <li><%= string %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
<% end %>
